<ion-tabs>
  <ion-tab-bar slot="bottom" class="shadow-md">
    <!-- <ion-tab-button tab="schedule">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Schedule</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="speakers">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Speakers</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="map"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="information-circle"></ion-icon>
    </ion-tab-button> -->

    <div class="nav">
      <button >
        <ion-icon name="menu-outline"></ion-icon>        <ion-label class="text-2xs">Menu</ion-label>
      </button>
      <button>
        <ion-icon name="paper-plane-outline"></ion-icon>        
        <ion-label class="text-2xs">Give</ion-label>
      </button>
      <button class="home-btn">
        <ion-icon name="home-outline" class="text-4xl"></ion-icon>
      </button>
  
      <button>
        <ion-icon name="time-outline"></ion-icon>   
        <ion-label class="text-2xs">History</ion-label>
      </button>
      <button>
        <ion-icon name="settings-outline"></ion-icon>        <ion-label class="text-2xs">Settings</ion-label>
      </button>
    </div>
  </ion-tab-bar>
</ion-tabs>
